body{
    background-color:beige;
}

.postss{
    display:inline-block;
    background-color:rgb(202, 202, 187);
    width:14rem;
    height:12rem;
    margin:8px 5px;
    border:2px solid black;
    padding:4px 6px;
    border-radius:12px;
}

.post{
    background-color:rgb(107, 95, 95);
    border-radius:8px;
}

a{
    color:black;
}

#dlt{
    border:2px solid black;
}